/*
    YumYum  v1.0 (2024-10-31)
    ※ 注意引用順序 ※
    請先引用 bootstrap.css，再引用這份 site.css，最後才引用自己寫的 .css
*/


/* ===== 字體 ===== */
/* 英文: Inter - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 繁體中文: Noto Sans Traditional Chinese - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ================ */


/* === 字型粗細 === */
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

/* ================ */


/* === 字型大小 === */
/* 使用 fs-1 到 fs-6 及 h1 到 h6 */

/* ================ */


/* === 主題配色 === */
:root {
    /* 主色系 primary */
    --yum-primary-1: #fffae6;
    --yum-primary-2: #30533f;
    --yum-primary-3: #e2e3cf;
    /* 使用範例:
        p {
            color: var(--yum-primary-2);
        }
        將 p 標籤的文字顏色設定成 --yum-primary-2 的顏色
    */
    /* 輔色系 secondary */
    --yum-secondary-1: #e95631;
    --yum-secondary-2: #ef2853;
    --yum-secondary-3: #ffffff;
    /* 使用範例:
        button {
            background-color: var(--yum-secondary-1);
        }
        將 button 標籤的背景顏色設定成 --yum-secondary-1 的顏色
    */
}

/* ================ */


/* === 通用設定 === */
body {
    font-family: "Inter", "Noto Sans TC";
    font-size: 1.25rem;
    background-color: var(--yum-primary-1);
}

/* p {
    margin-bottom: 0;
} */

/*li {
    list-style-type: none;
}*/

/*a {
    text-decoration: none;
    background-color: transparent;
}*/

/*a:link {
    color: #000000
}*/

/*a:hover {
    color: #000000
}*/

/*a:visited {
    color: #000000
}*/

/*img {
    object-fit: cover;
}*/

/* ================ */